    <h3>1.회원가입한 사람</h3>
    <% if(memberAll.length == '0'){ %>
      <h4>사람이 없음</h4>
    <% } else { %>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>birth</th>
        <th>address</th>
      </tr>
      <% for(let i=0; i<memberAll.length; i++){ %>
      <tr>
        <td><%= memberAll[i].id %></td>
        <td><%= memberAll[i].name %></td>
        <td><%= memberAll[i].phone %></td>
        <td><%= memberAll[i].birth %></td>
        <td><%= memberAll[i].address %></td>
      </tr>
      <% } %>
    </table>  
    <% } %>

<script>
  $(document).ready(function(){
    $('.navclass').removeClass('active');
      $('#home').addClass('active');
      $('#home').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#home').addClass('active');
      window.location.assign("/");
    });

    $('#login').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#login').addClass('active');
      window.location.assign("/login");
    });

    $('#join').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#join').addClass('active');
      window.location.assign("/join");
    });

    $('#fileupload').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#fileupload').addClass('active');
      window.location.assign("/fileupload");
    });

    $('#board').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#board').addClass('active');
      window.location.assign("/board");
    });

    });
</script>