<!DOCTYPE html>
<html>
  <head>
    <title><%= page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css"/>
  </head>
  <body>
    <% include ./headers/header%>
    <h3>1.회원가입한 사람</h3>
    <% if(memberAll.length == '0'){ %>
      <h4>사람이 없음</h4>
    <% } else { %>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>birth</th>
        <th>address</th>
      </tr>
      <% for(let i=0; i<memberAll.length; i++){ %>
      <tr>
        <td><%= memberAll[i].id %></td>
        <td><%= memberAll[i].name %></td>
        <td><%= memberAll[i].phone %></td>
        <td><%= memberAll[i].birth %></td>
        <td><%= memberAll[i].address %></td>
      </tr>
      <% } %>
    </table>  
    <% } %>










    <!-- 부트스트랩 -->
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
  <script>
    $(document).ready(function(){
      $('#home').addClass('active');

      $('#home').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#home').addClass('active');
      window.location.assign("/");
    });

    $('#login').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#login').addClass('active');
      window.location.assign("/login");
    });

    $('#join').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#join').addClass('active');
      window.location.assign("/join");
    });

    $('#fileupload').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#fileupload').addClass('active');
      window.location.assign("/fileupload");
    });

    });

    

  </script>
</html>
